@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
VARIABLES
====================================================*/
:root {
  --sakura: #fedfe1;
  --white: #fff;
  --gray: #f0f0f0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

/* reset css  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  }
  a:link { color: #000; }
  a:visited { color: #000; }
  a:active { color: #000; }

/* finish reset css */


/* 
header
====================================================*/

.header {
  background-color: rgb(254 226 226);
  padding: 0.5rem/* 8px */;
}


.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}



.sign-in {
  display: flex;
  border-radius: 100vh;
  padding: 0.5rem/* 8px */;
  font-weight: 700;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
}

.sign-in:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity));
  color: #fff;
}

* {
  box-sizing: border-box;
}

.global-nav {
  float: inline-start;
  background-color: #fedfe1;
  margin-top: 0px;
  padding: 0;
  text-align: right;
  height: 70px;
}

.global-nav li {
  display: inline-block;
}

.global-nav li a {
  display: block;
  padding: 1em;
  color: #000;
  text-decoration: none;
  height: 70px;
}

.global-nav a::first-line {
  font-size: 16px;
  font-weight: bold;
}

.global-nav li:hover {
  background: #f596aa;
}

.signin-nav:hover {
  background-color: #f596aa;
  color: #fff;
}

#index,
#home,
#record-create,
#record_create_complete {
  background-image: url(../public/images/background_index.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#my-records {
  background-image: url(../public/images/background_index.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

/* 
header
====================================================*/

#index h1 {
  font-size: 50px;
  text-align: center;
}

#index .introduction {
  color: #000;
  font-size: 30px;
  text-align: center;
}

.btn {
  margin-top: 100px;
  text-align: center;
}

.btn-c {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 100vh;
  color: #000;
  background-color: #fedfe1;
  text-decoration: none;
}

.btn-c:hover {
  color: #fff;
  background: #f596aa;
}

.btn-c:before {
  right: 1rem;
  margin: 0;
  padding: 0;
}

#home .guid {
  text-align: center;
}

/* Simple Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em "Open Sans", sans-serif;
}

/* 
Form Layout  in login, register 
====================================================*/

.login-logo {
  width: 338px;

  /* margin: 0, auto; */
  /* display: block; */
}

.login-logo img {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
}

.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}



h1 {
  text-align: center;
  padding: 1em 0;
  margin-top: -15px;
  margin-bottom: -15px;
  color: #000;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.form-wrapper2 {
  background: #fafafa;
  margin: 0em auto;
  margin-top: 2em;
  padding: 0 1em;
  max-width: 500px;
  max-height: 600px;
  text-align: center;
}

.form-item2 {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item2 input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 80%;
}

.form-item2 input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

textarea {
	width: 276.22px;  /* 横幅 */
	height: 100px; /* 高さ */
}


.button-panel {
  margin: 2em 0 0;
  width: 100%;
  text-align: center;
}

.button-panel .button {
  background: #f596aa;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.register-button {
  width: 100%;
  margin-left: -23%;
  margin-top: 20px;
  margin-bottom: -20px;
}

.register-button .button {
  background: #f596aa;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}
.form-footer2 {
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.register-success {
  line-height: 0.8;
}


/* 
my page
====================================================*/

.my-page {
  display: flex;
  justify-content: space-evenly;
  /* background: #ccc; */
  flex-wrap: wrap;
  margin-top: 2%;
}

.my-page-box{
  width: 300px;
  height: 200px;
  margin: 10px;
  background-color: var(--sakura);
  border-radius: 1rem/* 16px */;
  text-align: center;
  font-size: 1.6rem;
  display: table;
}

.btn-my-page {
  border-radius: 1rem/* 16px */;
  font-size: 1.6rem;
  text-align: center;
  color: #000;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.btn-my-page:hover{
  color: #fff;
  background: #f596aa;
}

/* 
show_records
====================================================*/

.record_list {
  height: 300px;
  width: 600px;
  background-color: #fff;
  margin: auto;
  border-width: 3px;
  border-style: solid;
  border-color: #fedfe1;
  padding: 2%;
}

.record_detail {
  height: 250px;
  width: 500px;
  margin: 0 auto;
  padding: 2%;
}


.thumbnail {
  height: 220px;
  float: left;
}

.gray_thumbnail {
  height: 220px;
  width: 149.66px;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-none {
  color: #000;
  font-size: 20px;
}

.book_title,
.posted_at,
.pages,
.impression {
  text-align: center;
}

.post_form,
.record_complete {
  text-align: center;
  margin-top: 30px;
}

.show_records {
  margin-top: 100px;
}

/* 
loading screen
====================================================*/
#loading {
  transition: all 1s;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
}

.loading-icon {
  width: 150px;
  height: 150px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

#loading-screen {
  background-color: var(--sakura);
  position: fixed;
  inset: 0;
  z-index: 9998;
  translate: 0 100vh;
}



.abtn {
  margin-top: 100px;
  text-align: center;
  align-items: center;
}

.cbtn {
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

.abtn-c {
  font-size: 1.3rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 100vh;
  color: #000;
  background-color: #fedfe1;
  text-decoration: none;
}

.abtn-c:hover {
  color: #fff;
  background: #f596aa;
}

.abtn-c:before {
  right: 1rem;
  margin: 0;
  padding: 0;
}

.footer-btn {
  margin-top: 3%;
}

/* 
search book title
====================================================*/

.search-form-006 {

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 3%;
}

.search-form-006 input {
  width: 250px;
  height: 45px;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  background-color: #e6edf3;
  font-size: 1em;
  outline: none;
}

.search-form-006 input::placeholder {
  color: #767d83;
}

.search-form-006 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  border: none;
  background-color: #fedfe1;
  cursor: pointer;
}

.search-form-006 button::after {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  content: '';
}


.bbtn input {
  /* padding: 1.5rem 2rem 1.5rem 2rem; */
  /* border-radius: 100vh; */
  border-radius: 0vh;
  color: #000;
  background-color: #534748;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  border: none;
}

.bbtn {
  
  text-align: center;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: -50px;
}

.bbtn-c {
  display: inline-block;
  margin: auto;
  font-size: 1.3rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  /* border-radius: 100vh; */
  color: #000;
  background-color: rgba(255,0,0,0.5);
  text-decoration: none;
}

.bbtn-c:hover {
  /* color: #fff; */
  background-color: red;
  /* background: red; */
}

.bbtn-c:before {
  right: 1rem;
  margin: 0;
  padding: 0;
}

#delete .abtn{
  margin-bottom: -50px;
}

/* 004 */
.button004 a {
  background: #fedfe1;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: -15px;
  max-width: 260px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.button004 a:after {
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.2s ease-in-out;
  /* content: "\f0da"; */
  /* font-family: "Font Awesome 5 Free";s */
  font-weight: 900;
  transform: translateY(-50%);
}
.button004 a:hover {
  background:  #f596aa;
  color: #FFF;
}